.image {
    height: 75%;
    width: 75%;
}
#image {
    height: 25%;
    width: 25%;
}
.img {
    height: 25%;
    width: 25%;
}
#image_one {
    height: 50%;
    width: 50%;
}
#mars {
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title {
    font-size: 75px;
    text-align: center;
}
nav {
    text-align: center;
    overflow: hidden;
}
.links {
    display:inline-block;
    text-align: center;
    padding: 15px 22px;
    text-decoration: none;
    font-size: 25px;
    background-color: #ccc;
}
li {
    font-size: 25px;
}
p {
    font-size: 25px;
}
.citation {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}